* {
    margin: 0px;
    padding: 0px;
}

.container1 {
    padding-top: 20px;
    width: 30%;
    height: 600px;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 20px black
}

.image1 {
    width: 100%;
}

.title1 {
    text-align: center;
    font-style: italic;
}

.description1 {
    text-align: center;
    padding: 4px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
}

button:hover {
    background-color: black;
    color: beige;
}


/*  the second card */

.container2 {
    padding: 10px 0;
    width: 30%;
    height: 600px;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 20px black
}

.image2 {
    width: 100%;
}

.title2 {
    text-align: center;
    font-style: italic;
}

.description2 {
    text-align: center;
    padding: 4px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
}

button:hover {
    background-color: black;
    color: beige;
}


/* the third card */

.container3 {
    padding-top: 20px;
    width: 30%;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    height: 600px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 20px black;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
}

.image3 {
    width: 100%;
}

.title3 {
    text-align: center;
    font-style: italic;
}

.description3 {
    text-align: center;
    padding: 4px;
    font-style: italic;
}


/*--fourth card--*/

.container4 {
    padding-top: 20px;
    width: 30%;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    height: 600px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 20px black;
}

.image4 {
    width: 100%;
}

.title4 {
    text-align: center;
    font-style: italic;
}

.description4 {
    text-align: center;
    padding: 4px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
}


/*----fifth card--*/

.container5 {
    padding-top: 20px;
    width: 30%;
    height: 600px;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 30px black;
}

.image5 {
    width: 100%;
}

.title5 {
    text-align: center;
    font-style: italic;
}

.description5 {
    text-align: center;
    padding: 4px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
}


/*---fifth card---*/

.container6 {
    padding-top: 20px;
    width: 30%;
    height: 600px;
    background-color: rgb(206, 198, 198);
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    box-shadow: 8px 8px 30px black;
}

.image6 {
    width: 100%;
}

.title6 {
    text-align: center;
    font-style: italic;
}

.description {
    text-align: center;
    padding: 4px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(241, 235, 235);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-style: italic;
    text-align: center;
}